<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Articles', articles_path %></li>
  <li class="active"><%= link_to 'New Article', new_article_path %></li>
</ul>

<h1>New Article</h1>

<%= render 'form' %>
